<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.gsb.rv.gsb_rv_visiteur">

    <!-- Pour le architecture REST Python/Flask -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activitée principale -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activitées de l'application -->
        <activity android:name=".RechercheRvActivity" />
        <activity android:name=".ListeRvActivity" />
        <activity android:name=".VisuRvActivity" />
        <activity android:name=".VisuEchantActivity" />
        <activity android:name=".SaisieRvActivity" />
        <activity android:name=".SaisieEchantActivity" />
        <activity
            android:name=".menuRvActivity"
            android:label="@string/title_activity_menu_rv"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>